@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

body {
    font-family: "Barlow", sans-serif;
    line-height: 1.7;
    color: #516171;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
    color: #092032;
}

a {
    color: #092032;
    text-decoration: none;
    transition: all o, .4s ease;
    font-weight: 500;
}

img {
    width: 100%;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

.intro {
    margin-bottom: 40px;
}

.intro h6 {
    font-weight: 400;
    color: #ff4d29;
}

.intro p {
    max-width: 500px;
    margin: auto;
}

/* NAVBAR */

.top-nav {
    background-color: #ff4d29;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: #ffffff;
}

.top-nav i,
.top-nav span {
    vertical-align: middle;
}

.social-links a {
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    border-radius: 100%;
}

.social-links a:hover {
    background-color: #fff;
    color: #ff4d29;
}

.navbar {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active {
    color: #ff4d29 !important;

}

.navbar-brand {
    font-weight: 700;
    font-size: 26px;
    color: #092032;
}

.navbar-brand span {
    color: #ff4d29;
}

/* Btn */
.btn {
    padding: 9px 24px;
}

.btn-brand {
    background-color: #ff4d29;
    color: #ffffff;
    border-color: #ff4d29;
}

.btn-brand:hover {
    color: #ffffff;
    background-color: #d63e1D;
}



/* Slider */
.slide1 {
    /* setttng an overlay on the image */
    background: linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 33, 50, 0.4)), url(../assets/bg_banner1.jpg);
}

.slide2 {
    /* setttng an overlay on the image */
    background: linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 33, 50, 0.4)), url(../assets/bg_banner2.jpg);
}

/* Owl caarousel designing */
.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    width: 60px !important;
    height: 60px !important;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin-top: -30px !important;
    font-size: 32px !important;
    color: #ffffff !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    border-radius: 100px !important;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-next:hover,
.owl-prev:hover {
    background-color: #ff4d29 !important;
}


/* Info Box */
.info-box {
    display: flex;
    align-items: center;
}

.info-box img {
    width: 90px;
    margin-right: 24px;
}

/* MileStone */
#milestone {
    background: linear-gradient(rgba(255, 77, 41, 0.9), rgba(255, 77, 41, 0.9));
}

#milestone .display-4,
#milestone p {
    color: #ffffff;
}

#milestone .display-4 {
    font-weight: 700;
}

/* Services */
.service-box {
    padding: 32px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.20);
    text-align: center;
}

.service-box img {
    width: unset;
}

.service-box h5 {
    margin-top: 24px;
    margin-bottom: 12px;
}


/* Portfolio */

#project-slider .owl-prev,
#project-slider .owl-next {
    /* for the carousel opacity*/
    background-color: rgba(255, 255, 255, 0.6) !important;

}

#project-slider .owl-prev:hover,
#project-slider .owl-next:hover {
    /* for the carousel opacity*/
    background-color: #d63e1D !important;

}

.project {
    position: relative;
}

.project .overlay {
    background: linear-gradient(to bottom, rgba(9, 33, 52, 0.0), rgba(9, 33, 52, 0.8));
    position: absolute;
    width: 100%;
    height: 240px;
    bottom: 0;
    left: 0;
}

.project .content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 32px;
}

.project h1,
.project h6 {
    color: #ffffff;
}

.project h6 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.project h6::before {
    content: '';
    height: 2px;
    width: 24px;
    background-color: #ff4d29;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

/* Team */

.team-member {
    text-align: center;
}

.team-member .img-wrapper {
    position: relative;
    overflow: hidden;
}

.team-member .overlay {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 77, 41, 0.89);
    transition: all 0.4s ease;
    opacity: 0;
}

.team-member .social-links {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    opacity: 0;
}

.team-member:hover .overlay {
    opacity: 1;
    top: 0;
}

.team-member:hover .social-links {
    opacity: 1;
    top: 50%;
}

.team-member h5 {
    margin-top: 24px;
}